server:
  port: 8081

spring:
  application:
    name: msa-auth
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/auth_db}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}
      password: ${SPRING_REDIS_PASSWORD:}

auth:
  jwt:
    # 실서비스에서는 32바이트 이상 강력한 비밀키를 외부 설정/시크릿으로 주입해야 합니다.
    secret: "1234567890"
    access-validity-seconds: 3600
    refresh-validity-seconds: 604800 # 7 days

springdoc:
  swagger-ui:
    path: /swagger-ui.html

google:
  oauth:
    client-id: ${GOOGLE_CLIENT_ID:}
    client-secret: ${GOOGLE_CLIENT_SECRET:}
    redirect-uri: ${GOOGLE_REDIRECT_URI:}
    token-uri: https://oauth2.googleapis.com/token
